/* 共通設定 */
body, input, select, button, textarea {
    font-family: 'Noto Sans JP', Arial, sans-serif;
    font-size: 1.1rem;
    color: #222831;
}

body {
    background-color: #f4f0ea;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.7rem;
}

/* 共通ボックススタイル */
.calculator, .result {
    max-width: 360px;
    margin: 0 auto 10px auto;
    background-color: #222831;
    color: #f0f0f0;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 1.2);
}

/* ボタン */
.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-weight: 600;
}

.button-container button {
    width: 80px;
    height: 40px;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: inset 4px 4px 10px #bcbcbc,
                inset -4px -4px 10px #ffffff;
}

/* フォーム行 */
.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-row label {
    width: 120px;
    font-weight: bold;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

/* 入力欄・セレクト */
.JaccsInput input,
.JaccsInput select,
.result input {
    background-color: #5f5f5f;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    width: calc(80% - 130px);
    padding: 8px;
    text-align: right;
    box-sizing: border-box;
    margin-left: auto;
    font-weight: 400;
    height: 38px;
}

select {
    font-weight: 500;
    text-align-last: right; /* 選択肢右寄せ */
}

/* number input のスピンボタン非表示 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* 計算結果ハイライト */
.result-highlight {
    background-color: #fff !important;
    color: #4a4e52 !important;
    transition: background-color 0.3s ease-in-out;
}

/* 上段・下段の行間統一 */
.JaccsInput .form-row,
.result .form-row {
    min-height: 50px;
}

/*スマホ(レスポンシブ対応)*/
@media (max-width: 600px) {
    .calculator, .result {
        width: 95%;
        padding: 20px;
    }

    .form-row {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .form-row label {
        width: 45%;
        margin-bottom: 0;
        font-size: 0.95rem;
        text-align: left;
    }

    .JaccsInput input,
    .JaccsInput select,
    .result input {
        width: 50%;
        margin-left: 0;
        font-size: 1rem;
        text-align: right; /* 入力文字右寄せ */
    }

    h1 {
        font-size: 1.4rem;
        text-align: center;
        margin-bottom: 15px;
    }

    .button-container button {
        width: 45%;
        height: 38px;   
        font-size: 1rem; 
    }
}
